* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    background: #fdf5e8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container {
    display: flex;
}

#navbar {
    position: fixed;
    width: 315px;
    height: 100%;
    border-style: dashed;
    border-color: black;
    border-width: 0 3px 0 0;
    overflow-y: auto;
}

#navbar header {
    text-align: center;
    margin-bottom: 40px;
    padding: 35px 0;
    font-size: 2.8rem;
    font-weight: 600;
}


.nav-link {
    display: block;
    position: relative;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;
    color: hsl(105, 4%, 37%);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
}

.nav-link:hover {
    transition: ease-in;
    transition-duration: 200ms;
    background-color: rgba(0, 0, 0, 0.089);
}

#main-doc {
    margin-left: 360px;
    padding-top: 20px;
    padding-right: 30px;
    width: 100%;
}

#main-doc code {
    display: block;
    background-color: #1D1E22;
    color: hsl(48, 48%, 46%);
    border: 1px solid hsl(48, 48%, 46%);
    padding: 15px 15px;
    margin: 20px 10px 20px 30px;
}

#main-doc h2 {
    margin: 20px 0;
    font-size: 2.7rem;
}

#main-doc p, code {
    padding-left: 20px;
}

#main-doc p, li, code {
    font-size: 1.6rem;
}

#main-doc li {
    margin: 10px 0;
}

#main-doc ul {
    margin: 10px 0 10px 60px;
}

#main-doc ul>ul {
    margin-left: 40px;
}

section:last-of-type {
    margin-bottom: 80px;
}


@media (max-width: 800px) {

    #container {
        flex-wrap: wrap;
    }

    #navbar {
        position: relative;
        width: 100%;
        margin: 0 auto;
        border-width: 0 0 3px 0;
        border-style: solid;
        height: 275px;
    }

    #navbar header {
        margin-bottom: 0;
    }

    #links {
        overflow-y: scroll;
        height: 168px;
    }

    .nav-link {
        padding: 10px 0px;
        border: 1px solid black;
        border-width: 1px 0 0 0;
    }

    .nav-link::after {
        width: 0px;
    }

    #main-doc {
        margin: 0px 20px;
        padding: 0px;
    }

}

