* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: url(images/daylightCycle/bluesky.jpg) repeat top center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100%;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

a {
    text-decoration: none;
}

#navbar {
    height: 80px;
    width: 300px;
    position: fixed;
    display: flex;
    left: 50%;
    bottom: 125px;
    transform: translate(-50%, 100%);
    text-align: center;
    font-size: 2em;
    background-color: #fdf5e8;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 99;
}

#navbar a {
    width: 150px;
    padding: 5px 10px;
    border-right: 1px solid black;
    color: red;
}

#navbar a:last-of-type {
    border-width: 0px;
}

.nav-link:hover {
    transition: ease-in;
    transition-duration: 200ms;
    background: skyblue;
}

#navbar img {
    display: block;
    margin: 0 auto;
    width: 40px;
}

#welcome-section {
    position: relative;
    text-align: center;
    height: 100vh;
    padding-top: 50px;
    /* background: linear-gradient(#1f2022, rgb(31, 39, 43), rgb(31, 39, 43), rgb(31, 39, 43)); */
    z-index: 5;
}

#welcome-header {
    height: 200px;
    width: 100px;
    margin: 0px auto;
    padding-top: 90px;
    background: transparent url('images/daylightCycle/bulbBlackEmpty.png') no-repeat center;
    background-size: 100%;
    transition: background 10000s;
}

#welcome-header p, #welcome-header h1 {
    color: rgb(79, 165, 214);
}

#welcome-header:hover {
    transition: ease-in-out;
    transition-duration: 1s;
    background: transparent url('images/daylightCycle/bulbBlackMoon.png') no-repeat center;
    background-size: 100%;
/*  background: #f5a361; */
}

#invisible {
    opacity: 0%;
    height: 825px;
    width: 100%;
    margin-top: 150px;
    padding-top: 175px;
    /* background: rgb(31, 39, 43); */ 
    background: transparent;
    color: rgb(167, 179, 104);
}

#welcome-section h1 {
    font-size: 4.5rem;
    margin: 0 auto;
}

#welcome-section p {
    font-size: 2.7rem;
    margin-top: 20px;

}

#invisible h1 {
}

#bio {
    display: flex;
    align-items: flex-start;
    margin: 40px auto 0 auto;
    width: 800px;
    border: 1px solid white;
    text-align: left;
}

#bio img {
    height: auto;
}

#bio-desc {
    display: flex;
    flex-wrap: wrap;
}

#bio-desc p {
    margin: 12px 0 0 5px;
    width: 100%;
    border: 1px solid white;
}

#project-header {
    text-align: center;
    padding-top: 5px;
    width: 100%;
    height: 100px;
    font-size: 3rem;
    background-color: oldlace;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #fdf5e8;
}

.tilebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

.project-tile {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px 10px;
    border: 1px solid black;
}

.project-tile img {
    height: 200px;
    width: 100%;
}

.project-tile h3 {
    margin: 10px 0 10px 0;
    font-size: 2rem;
}

.project-tile p {
    font-size: 1.6rem;
}

#contact-section {
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: #666666;
}

#profile-link {
    position: relative;
    top: 45%;
    font-size: 2.8rem;
    margin: 0 20px;
    color: #f5a361;
}

#profile-link span {
    position: relative;
    bottom: 26px;
    left: 2px;
}

#profile-link img {
    width: 70px;
}

.stars, .twinkling, .blueSky {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }

.stars {
    background: #000 url(images/daylightCycle/stars.png) repeat top center;
    z-index:1;
  }
  
  .twinkling{
    background:transparent url(images/daylightCycle/twinkling.png) repeat top center;
    z-index: 2;
  
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  .blueSky {
    opacity: 0%;
    background: url(images/daylightCycle/bluesky.jpg) repeat top center;
    z-index:1; 
    transition: ease-in-out;
  }

/* profile-link background #E7CC89 */
