

@font-face {
    font-family: "Roboto Test";
    src: url("css/fonts/Roboto-Regular.ttf");
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: url(images/daylightCycle/bluesky.jpg) repeat top center;
    font-family: "Roboto Test";
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    height: 80px;
    width: 300px;
    position: fixed;
    display: flex;
    left: 50%;
    bottom: 125px;
    transform: translate(-50%, 100%);
    text-align: center;
    font-size: 2em;
    background-color: #fdf5e8;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 99;
}

#navbar a {
    width: 150px;
    padding: 5px 10px;
    border-right: 1px solid black;
    color: red;
}

#navbar a:last-of-type {
    border-width: 0px;
}

.nav-link:hover {
    transition: ease-in;
    transition-duration: 200ms;
    background: skyblue;
}

#navbar img {
    display: block;
    margin: 0 auto;
    width: 40px;
}

#welcome-section {
    position: relative;
    text-align: center;
    height: 100vh;
    padding-top: 50px;
    /* background: linear-gradient(#1f2022, rgb(31, 39, 43), rgb(31, 39, 43), rgb(31, 39, 43)); */
    z-index: 5;
    border: 1px solid black;
}

#welcome-header {
    margin: 0 auto;
    width: 200px;
    font-size: 2rem;
    color: white;
}

#bulb {
    height: 200px;
    width: 100px;
    margin: 0px auto;
    padding-top: 90px;
    background: transparent url('images/daylightCycle/bulbBlackMoon.png') no-repeat center;
    background-size: 100%;
    transition: background 10000s;
    z-index: 15;
}

/* #welcome-header:hover {
    transition: ease-in-out;
    transition-duration: 1s;
    background: transparent url('images/daylightCycle/bulbBlackMoon.png') no-repeat center;
    background-size: 100%;
    background: #f5a361;
} */

#invisible {
    opacity: 0%;
    height: 825px;
    width: 100%;
    margin-top: 150px;
    padding-top: 175px;
    /* background: rgb(31, 39, 43); */ 
    background: transparent;
    color: white;
}

#invisible h2 {
    font-size: 4rem;
    margin: 0 auto;
}

#invisible h1 {
}

#bio {
    display: flex;
    max-width: 900px;
    align-items: flex-start;
    margin: 40px auto 0 auto;
    border: 1px solid white;
    text-align: left;
}

#bio img {
    height: auto;
}

#bio-desc {
    display: flex;
    flex-basis: 700px;
    flex-wrap: wrap;
}

#bio-desc p {
    font-size: 2.2rem;
    margin: 12px 0 0 5px;
    width: 100%;
    border: 1px solid white;
}

#project-header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
    width: 100%;
    height: 100px;
    font-size: 3rem;
    background-color:#CAD49D;
    /* rgb(167, 179, 104) text-orange 
       #cccccc cloud gray
    
    */

}

#projects {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    background: #04023B;
}

.tilebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

.project-tile {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #C0B9DD;
}

.project-tile img {
    height: 200px;
    width: 100%;
    border-color:transparent;
}

.project-tile h3 {
    margin: 10px 0 10px 0;
    font-size: 2.6rem;
    color: #0A0A0A;
}

.project-tile p {
    font-size: 1.6rem;
    color: #0A0A0A;
}

#contact-section {
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: #666666;
}

#profile-link {
    position: relative;
    top: 45%;
    font-size: 2.8rem;
    margin: 0 20px;
    color: #f5a361;
}

#profile-link span {
    position: relative;
    bottom: 26px;
    left: 2px;
}

#profile-link img {
    width: 70px;
}

.stars, .twinkling, .blueSky, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }

.stars {
    background: #000 url(images/daylightCycle/stars.png) repeat top center;
    z-index:1;
  }
  
  .twinkling{
    background:transparent url(images/daylightCycle/twinkling.png) repeat top center;
    z-index: 2;
  
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  .blueSky {
    opacity: 0%;
    background: url(images/daylightCycle/bluesky.jpg) repeat top center;
    z-index:3; 
    transition: ease-in-out;
  }

  .clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat-x top center;
    z-index: 5;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
     animation:move-clouds-back 200s linear infinite;
  }
/* profile-link background #E7CC89 */
