

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/Roboto-Thin.ttf");
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: url("images/daylightCycle/bluesky.jpg") repeat top center;
    font-family: "Roboto Thin", Times, 'Times New Roman', serif;
    width: 100%;
    height: 100%;
}

p {
    font-weight: 800;
}

a {
    text-decoration: none;
}

#navbar {
    height: 80px;
    width: 300px;
    position: fixed;
    display: flex;
    left: 50%;
    bottom: 125px;
    transform: translate(-50%, 100%);
    text-align: center;
    font-size: 2em;
    background-color: #fdf5e8;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 99;
}

#navbar a {
    width: 150px;
    padding: 5px 10px;
    border-right: 1px solid black;
    color: #0a0a0a;
}

#navbar a:last-of-type {
    border-width: 0px;
}

.nav-link:hover {
    transition: ease-in;
    transition-duration: 200ms;
    background: skyblue;
}

#navbar img {
    display: block;
    margin: 0 auto;
    width: 40px;
}

#welcome-section {
    position: relative;
    margin: 0 20px;
    text-align: center;
    height: 100vh;
    padding-top: 50px;
    z-index: 5;
}

#welcome-header {
    margin: 0 auto;
    width: 200px;
    font-size: 2.4rem;
    color: white;
}

#bulb {
    height: 200px;
    width: 100px;
    margin: 0px auto;
    padding-top: 90px;
    background: transparent url('images/daylightCycle/bulbBlackMoon.png') no-repeat center;
    background-size: 100%;
    transition: background 10000s;
    z-index: 15;
}

#invisible {
    opacity: 0%;
    height: auto;
    margin-top: 150px;
    padding-top: 175px;
    background: transparent;
}

#invisible h2 {
    font-size: 4rem;
    color: white;
}


#bio {
    display: flex;
    max-width: 900px;
    align-items: center;
    margin: 40px auto 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #C0B9DD;
    text-align: left;
}

#bio img {
    height: auto;
    border-radius: 10px 0 0 10px;
}

#bio-desc {
    display: flex;
    flex-basis: 700px;
    flex-wrap: wrap;
    color: #0a0a0a;
}

#bio-desc p, span {
    font-size: 2.2rem;
    margin: 20px 10px 0px 10px;
    width: 100%;
}

/* add span later */
#bio-desc span {
    display: none;
    margin-top: 5px;
}

#bio-desc a {
    color: #04023B;
    text-decoration: underline;
}

.section-header {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
    width: 100%;
    height: 100px;
    font-size: 2.8rem;
    background-color:#CAD49D;
}

#projects {
    display: flex;
    height: 100%;
    min-height: 500px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    background: #04023B;
}

.tilebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

.project-tile {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #C0B9DD;
}

.project-tile img {
    height: 200px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    border-color:transparent;
}

.project-tile h3 {
    margin: 10px 0 10px 0;
    font-size: 2.8rem;
    color: #0A0A0A;
}

.project-tile p {
    font-size: 1.6rem;
    color: #0A0A0A;
}



#contact-section {
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: #666666;
}

#contact-header {
    margin: 0;
}


#profile-link {
    position: relative;
    top: 175px;
    font-size: 2.8rem;
    margin: 0 20px;
    color: #f5a361;
}

#profile-link span {
    position: relative;
    bottom: 26px;
    left: 2px;
}

#profile-link img {
    width: 70px;
}

.stars, .twinkle, .blueSky, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }

.stars {
    background: #000 url(images/daylightCycle/stars.png) repeat top center;
    z-index:1;
  }
  
  .twinkle{
    background:transparent url(images/daylightCycle/twinkle.png) repeat top center;
    z-index: 2;
  
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  .blueSky {
    opacity: 0%;
    background: url(images/daylightCycle/bluesky.jpg) repeat top center;
    z-index:3; 
    transition: ease-in-out;
  }

  .clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat-x top center;
    z-index: 5;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
     animation:move-clouds-back 200s linear infinite;
  }

  @media (max-width: 888px) {
    #invisible {
        margin-top: 0px;
        padding-top: 125px;
   }

    #invisible h2 {
        font-size: 4rem;
        margin: 0 auto;
    }
    #bio {
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: center;
        padding: 20px;
    }

    #bio img {
        border-radius: 10px;
    }

    #profile-link {
        top: 100px;
    }
}
/* profile-link background #E7CC89 */
